<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
    <title>BISTU成绩管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container" >
	<br/>
	<h2 align="center">BISTU成绩管理系统</h2>
	<h5 align="center">软工1602 贾明华 2016010571</h5>
	<div class="form-group">
	    <div class="nav nav-tabs">
	        <a href="/toAddGrade" th:href="@{/toAddGrade}" class="btn btn-info">添加成绩</a>
<!-- 	        <a class="btn btn-info">按照学号查询成绩</a> -->
<!-- 	        <a class="btn btn-info">按照课程名称查询</a> -->
	    </div>
	</div>
	<br/>
	<div class="with:80%">
	    <table class="table table-striped table-bordered">
	        <thead>
	        <tr>
	            <th>编号</th>
	            <th>学号</th>
	            <th>课程名称</th>
	            <th>成绩</th>
	            <th>创建时间</th>
	            <th>更新时间</th>
	            <th>修改</th>
	            <th>删除</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr  th:each="grade : ${grades}">
	            <th scope="row" th:text="${grade.id}">1</th>
	            <td th:text="${grade.studentID}">neo</td>
	            <td th:text="${grade.courseName}">Otto</td>
	            <td th:text="${grade.grade}">6
	            <td th:text="${grade.createTime}">neo</td>
	            <td th:text="${grade.updateTime}">neo</td>
	            <td><a th:href="@{/toEditGrade(id=${grade.id})}" class="btn btn-warning btn-xs">修改</a></td>
	            <td><a th:href="@{/deleteGrade(id=${grade.id})}" class="btn btn-danger btn-xs">删除</a></td>
	        </tr>
	        </tbody>
	    </table>
	    <hr>
	    <div class="container" style="text-align:center">
		    <div th:if="${grades.totalPages > 0}" class="pagination"  th:each="pageNumber : ${pageNumbers}" >
				<li  class="pager"><a th:href="@{/index(size=${grades.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==grades.number + 1} ? active"></a></li>
			</div>
		</div>
	</div>
</body>
</html>